body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('img/banco\ de\ dados\ tela.png') center/cover no-repeat;
    height: 100vh;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000000;
    background-color: #fcfcfc;
    width: 200px;
    height: 200px;
    margin-right: 40px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }
  
  .button:last-child {
    margin-right: 0;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  .button img {
    width: 100px;
    height: 100px;
  }
  
  .button span {
    margin-top: 10px;
    text-align: center; /* Centraliza o texto horizontalmente */
    font-size: 30px;
  }
  
  .menu-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }
  
  .menu-button:hover {
    background-color: #555;
  }
  
  .menu-button img {
    width: 60px;
    height: 60px;
  }
  
  .menu-button span {
    margin-top: 10px;
    text-align: center; /* Centraliza o texto horizontalmente */
    font-size : 30px;
  }
  